#player {
    width: 350px;
    height: 50px;
    position: absolute;
    bottom: -15px;
    left: 92.5px;
}
#player i {
    position: absolute;
    margin-top: -6px;
    color: #666;
    transition: opacity 0.3s;
}
#player i:hover{
    opacity: 30%;
}
.fa-volume-down {
    margin-left: -3px;
}
.fa-volume-up {
    margin-right: -9px;
    right: 0;
}
#volume {
    position: absolute;
    left: 24px;
    margin: 0 auto;
    height: 5px;
    width: 300px;
    background: #555;
    border-radius: 15px;
}
#volume .ui-slider-range-min {
    height: 5px;
    width: 300px;
    position: absolute;
    background: #2ecc71;
    border: none;
    border-radius: 10px;
    outline: none;
}
#volume .ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #fff;
    position: absolute;
    margin-left: -8px;
    margin-top: -8px;
    cursor: pointer;
    outline: none;
}
@media only screen and (max-width: 1120px) {
    #player{
        display: none;
    }
  }